body,html,#app,.theme-container{
    min-height: 100vh;
}
.home{
    min-height: calc(100vh - 3.6rem);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.home .content{
    flex: 1 0 auto;
}
.home .footer{
    flex: 0 0 auto;
}
.hero img{
    border-radius: 1rem;
}
